@import "tailwindcss";

:root {
    --dark-blue: #323C4C;
    --white: #FFFFFF;
    --light-blue: ##B1EAFC;
    --bg-gray: #F7F8FA;
    --error: #F87979;
    --warning: #FFD260;
    --active: #75DBCA;
    --bg-gray-tailwind: #111827;
    --background: var(--bg-gray-tailwind);
    --foreground: var(--dark-blue);
}


body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-family: var(--font-not-sans), sans-serif;
    margin: 0;
}

h1 {
    /* font-size: 2rem; */
    font-weight: 700;
    line-height: 2.5rem;
}

h2 {
    /* font-size: 1.375rem; */
    font-weight: 500;
    line-height: 1.75rem;
}

h3 {
    /* font-size: 0.875rem; */
    font-weight: 400;
    line-height: 1.25rem;
}

h4,
p {
    /* font-size: 0.75rem; */
    font-weight: 400;
    line-height: 1rem;
}

h5 {
    /* font-size: 0.625rem; */
    font-weight: 300;
    line-height: 0.875rem;
}
